@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-font {
  font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global colors */
:root{
    --primary-text-color: #3A3A3A;
    --button-bg-color: #E02C6D;
    --text-gray-color: #D1D1D6;
    --text-light-color: #ffffff;
    --text-gray-daark: #6C6C6C;
    --text-gray-50-color: #787885;
    --dark-blue-color: #0A0826;
}
/* shared styles */
.btn{
    padding: 10px 24px;
    color: var(--text-light-color);
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 41px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btn a{
    color: var(--text-light-color);
    text-decoration: none;
}

/* header-styles */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 87%;
    margin: 5.4rem auto 0;
    align-items: center;
    
}
.logo h2{
    color: var(--primary-text-color);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.menu{
    display: flex;
    gap: 2.1rem;;
}
.menu li{
    list-style: none;

}
.menu li a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 600;
}
/* hero section styles */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width:87%;
    margin: 3.12rem auto 4.37rem;
    gap: 8.3rem;
}
.hero-image{
    padding: 0.6rem;
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.hero-image img{
    width: 100%;
    max-width: 440px;
}
.hero-info h2{
    font-size: 3.25rem;
    color: var(--primary-text-color);
    font-weight: bold;
    margin-bottom: 1rem;
}
.hero-info p{
    font-size: 1rem;
    color: var(--primary-text-color);
    margin-bottom: 1rem;
}
/* sites logos styles */
.popular-section{
     
}
.popular-on-items{
    border-top: 1px solid var(--text-gray-color);
    border-bottom: 1px solid var(--text-gray-color);
    width: 87%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.18rem 3.87rem; 
    gap: 3.8rem; 
}
.popular-on-items img{
    width: 100%;
    max-width: 5.25rem;
}

/* products section styles */
.popular-collection{
    width: 87%;
    max-width: 1200px;
    margin: 6.25rem auto;
    text-align: center;
}
.product-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.87rem;
}
.popular-collection h2{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1.87rem;
}
.product-card{
    width: 100%;
    /* max-width: 329px; */
    box-shadow: 0px 0px 40px 0 rgba(0, 0, 0, .1);
    padding: 0.87rem;
    text-align: left;
    border: none;
    border-radius: 5px;
}
.product-card .product-title{
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--primary-text-color);
    margin-top: 1rem;
    margin-bottom: 6px;
}
.product-card .price{
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--primary-text-color);
}
.product-card p{
    font-size: 0.87rem;
    color: var(--text-gray-50-color);
    font-weight: bold;
}
.product-card img{
    width: 100%;
}
.more-products{
    text-align: right;
    margin-top: 3.123rem;
}
.more-products a{
    text-decoration: none;
    color: #E02C6D;
    font-size: 1rem;

}

/* feature proudcts info section styles */
.feature-products{
    width: 87%;
    max-width: 1200px;
    margin: 6.25rem auto;
    display: flex;
    gap: 6rem;
    align-items: center;
}
.feature-p-info h2{
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--primary-text-color);
    margin-bottom: 1rem;
}

.feature-p-info p{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--text-gray-daark);
}

 .feature-p-info button{
    padding: 10px 24px;
    color: var(--text-light-color);
    background-color: var(--button-bg-color);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.feature-p-info button a{
    color:var(--text-light-color);
    text-decoration: none;   
}
footer{
    background-color: var(--dark-blue-color);
    color: #ffffff;
    padding: 3.125rem 0;
}
.footer-section{
    text-align: center;
    max-width: 16.37rem;
    width: 100%;
    margin: 0 auto;
}
.social-links ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.social-links ul li{
    list-style: none;
    background-color: rgba(46, 45, 45, 0.536);
    width: 2rem;
    height: 2rem;
    padding: 0.46rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links ul li a i{
    color: var(--text-light-color)
}