@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-font {
  font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global colors */
:root{
    --primary-text-color: #3A3A3A;
    --button-bg-color: #E02C6D;
    --text-gray-color: #D1D1D6;
    --text-light-color: #ffffff;
    --text-gray-daark: #6C6C6C;
    --text-gray-50-color: #787885;
}
/* shared styles */
.btn{
    padding: 10px 24px;
    color: var(--text-light-color);
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 41px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btn a{
    color: var(--text-light-color);
    text-decoration: none;
}

/* header-styles */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 87%;
    margin: 5.4rem auto 0;
    align-items: center;
    
}
.logo h2{
    color: var(--primary-text-color);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.menu{
    display: flex;
    gap: 2.1rem;;
}
.menu li{
    list-style: none;

}
.menu li a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 500;
}
/* hero section styles */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width:87%;
    margin: 3.12rem auto 4.37rem;
    gap: 8.3rem;
}
.hero-image{
    padding: 0.6rem;
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}
.hero-image img{
    width: 100%;
    max-width: 440px;
}
.hero-info h2{
    font-size: 3.25rem;
    color: var(--primary-text-color);
    font-weight: bold;
    margin-bottom: 1rem;
}
.hero-info p{
    font-size: 1rem;
    color: var(--primary-text-color);
    margin-bottom: 1rem;
}